ictv_curated_name_manager/assets/css/
ictv_curated_name_manager/assets/images/
ictv_curated_name_manager/assets/js/ICTV_CuratedNameManager.js

ictv_find_the_species_component/assets/css/
ictv_find_the_species_component/assets/js/ICTV_VirusNameLookup.js

ictv_member_species_table/assets/css/
ictv_member_species_table/assets/images/
ictv_member_species_table/assets/js/ICTV_MemberSpeciesTable.js

ictv_proposal_submission/assets/css/
ictv_proposal_submission/assets/js/ICTV_ProposalSubmission.js

ictv_release_history_taxonomy_browser/assets/css/
ictv_release_history_taxonomy_browser/assets/images/
ictv_release_history_taxonomy_browser/assets/js/ICTV_TaxonomyBrowser.js

ictv_seqsearch_ui/assets/css/
ictv_seqsearch_ui/assets/js/ICTV_SequenceSearch.js

ictv_taxon_history/assets/css/
ictv_taxon_history/assets/js/ICTV_TaxonReleaseHistory.js

ictv_taxonomy_browser/assets/css/
ictv_taxonomy_browser/assets/images/
ictv_taxonomy_browser/assets/js/ICTV_TaxonomyBrowser.js

ictv_virus_name_lookup/assets/css/
ictv_virus_name_lookup/assets/images/
ictv_virus_name_lookup/assets/js/ICTV_VirusNameLookup.js

ui/dist/
ui/node_modules/

scripts/__pycache__/
scripts/VirusNameLookup/__pycache__/

