
#ictv_virus_name_lookup_container .lookup-container {
   align-items: flex-start;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   margin-bottom: 2.0rem;
}

/* Button styles */
#ictv_virus_name_lookup_container .ictv-btn {
   border: 1px solid transparent;
   display: inline-block;
   font-size: 0.9rem;
   font-weight: 400;
   padding: .375rem .75rem;
   text-align: center;
   user-select: none;
   vertical-align: middle;
   white-space: nowrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The search controls
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_virus_name_lookup_container .search-controls {
   align-items: center;
   border-collapse: separate;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   line-height: 1.5;
   margin: 0;
   max-width: 1000px;
}
#ictv_virus_name_lookup_container .search-controls .search-modifier {
   appearance: listbox !important;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   font-size: 14px;
   line-height: 1.3;
   margin: 0;
   padding: 7.0px 12px;
   vertical-align: middle;
   width: 120px;
   -webkit-appearance: listbox !important;
}
#ictv_virus_name_lookup_container .search-controls .search-text {
   background-color: #fff;
   background-image: none;
   border-color: #ccc #ccc #ccc transparent;
   border-radius: 0 0 0 0;
   border-style: solid;
   border-width: 1px 1px 1px 0;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   font-size: 14px;
   line-height: 1.3;
   margin: 0;
   padding: 7.7px 12px;
   vertical-align: middle;
   width: 345px;
}
#ictv_virus_name_lookup_container .search-controls .search-modifier:focus,
#ictv_virus_name_lookup_container .search-controls .search-text:focus {
   color: #495057;
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 1px rgba(0, 123, 255, .15);
}
#ictv_virus_name_lookup_container .search-controls .search-button {
   background-color: #0062cc;
   border-color: #005cbf;
   border-radius: 0;
   color: #fff;
   cursor: pointer;
}
#ictv_virus_name_lookup_container .search-controls .clear-button {
   background-color: #999;
   border-radius: 0 .25rem .25rem 0;
   color: #fff;
   cursor: pointer;
}

#ictv_virus_name_lookup_container .highlighted-text {
   background-color: #fad968;
}


/* The results count over individual sections */
#ictv_virus_name_lookup_container .results-count {
   font-size: 1.8rem;
   margin-top: 2.0rem;
}

#ictv_virus_name_lookup_container .section-count {
   font-size: 1.8rem;
   margin-top: 2.0rem;
}

#ictv_virus_name_lookup_container .results-panel {
   display: none;
   visibility: hidden;
}
#ictv_virus_name_lookup_container .results-panel.active {
   display: block;
   visibility: visible;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Accordion 
-------------------------------------------------------------------------------------------------------------------------------------------------*/
.ictv-accordion-item {
   border-color: #999;
   border-style: solid;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-top-width: 0;
   width: 100%;
}
#ictv_virus_name_lookup_container .ictv-accordion-item:first-of-type {
   border-top-width: 1px;
}
.ictv-accordion-header {
   align-items: center;
   background-color: #e9e9e9;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   padding: 1.0rem 1.0rem 1.0rem 0;
   transition: all 0.25s ease-out;
   will-change: background-color color;
}

/*.ictv-accordion.active .ictv-accordion-header {
   background-color: #0062cc;
   color: #fff;
}*/
.ictv-accordion-control {
   color: #777;
   font-weight: 400;
   padding: 1.0rem;
   transition: ease .3s transform;
}
/*.ictv-accordion-label {
   margin-left: 1.0rem;
}*/

.ictv-accordion-body {
   max-height: 0;
   opacity: 0;
   overflow: hidden;
   transition: all 0.25s ease-out;
   visibility: hidden;
   will-change: max-height;
}
.ictv-accordion-item.active .ictv-accordion-body {
   border-width: 1px 0 0 0;
   border-color: #999;
   border-style: solid;
   max-height: 100%;
   opacity: 1;
   visibility: visible;
}
.ictv-accordion-item.active .ictv-accordion-control {
   transform: rotate(-180deg);
}

.ictv-accordion-item .ictv-accordion-content {
   margin: 1.0rem;
}

/*#ictv_virus_name_lookup_container .accordion-button {
   background-color: #efefef !important;
}
#ictv_virus_name_lookup_container .accordion-item {
   border-color: #999;
   border-style: solid;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
}
#ictv_virus_name_lookup_container .accordion-item:first-of-type {
   border-top-width: 1px;
}
#ictv_virus_name_lookup_container .accordion-header {
   margin: 0;
}*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Result info inside the accordion label.
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_virus_name_lookup_container .ictv-accordion-label {
   align-items: flex-start;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   width: 100%;
}

#ictv_virus_name_lookup_container .ictv-accordion-label .result-index {
   font-size: 0.9rem; 
   margin-right: 1.0rem;
}
#ictv_virus_name_lookup_container .ictv-accordion-label .lineage-and-result {
   align-items: flex-start;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
}
#ictv_virus_name_lookup_container .ictv-accordion-label .lineage-and-result .lineage {
   font-size: 0.9rem;
   font-weight: 400;
   margin-bottom: 0.25rem;
}
#ictv_virus_name_lookup_container .ictv-accordion-label .lineage-and-result .lineage i.fa-chevron-right {
   font-size: 0.7rem;
   margin: 0 0.25rem;
}
#ictv_virus_name_lookup_container .ictv-accordion-label .lineage-and-result .result {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   z-index: 1000;
}
#ictv_virus_name_lookup_container .ictv-accordion-label .lineage-and-result .result .result-name {
   margin-right: 0.5rem;
}

/* The spinner panel */
#ictv_virus_name_lookup_container .spinner-panel {
   display: none;
}
#ictv_virus_name_lookup_container .spinner-panel.active {
   display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Tabs
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_virus_name_lookup_container .tab-buttons {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}
#ictv_virus_name_lookup_container .tab-button {
   border-color: #ddd;
   border-style: solid;
   border-width: 0 0 3px 0;
   cursor: pointer;
   display: block;
   padding-bottom: 0.25rem;
   text-align: center;
   visibility: visible;
   width: 33.33%;
}
#ictv_virus_name_lookup_container .tab-button.active {
   border-color: rgb(13, 110, 253);
}
#ictv_virus_name_lookup_container .tab-button.disabled {
   color: #999;
   /*display: none;
   visibility: hidden;*/
}
#ictv_virus_name_lookup_container .tab-button.disabled.active {
   border-color: #999;
   /*display: none;
   visibility: hidden;*/
}

#ictv_virus_name_lookup_container .tab-panel {
   display: none;
   visibility: hidden;
}
#ictv_virus_name_lookup_container .tab-panel.active {
   display: block;
   visibility: visible;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Data tables
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_virus_name_lookup_container table.results-table {
   min-width: 800px;
   overflow: visible !important;
   width: 100%;
}
#ictv_virus_name_lookup_container table.results-table .header-row {
   background-color: #757575 !important;
}
#ictv_virus_name_lookup_container table.results-table th,
#ictv_virus_name_lookup_container table.results-table td {
   font-size: 1.0rem !important;
}
#ictv_virus_name_lookup_container table.results-table th {
   background-color: #757575 !important;
   color: #fff !important;
   font-weight: 400 !important;
}
#ictv_virus_name_lookup_container table.results-table .even-bg {
   background-color: #eee;
}
#ictv_virus_name_lookup_container table.results-table .odd-bg {
   background-color: #fff;
}
#ictv_virus_name_lookup_container table.results-table thead + tbody tr:first-child th, 
#ictv_virus_name_lookup_container table.results-table thead + tbody tr:first-child td {
   padding-top: 0.75rem;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The invalid results table
-------------------------------------------------------------------------------------------------------------------------------------------------*/
/*#ictv_virus_name_lookup_container table.invalid-results-table {
   overflow: visible !important;
}
#ictv_virus_name_lookup_container .invalid-results-table th {
   font-size: 1.0rem !important;
   font-weight: 400;
}
#ictv_virus_name_lookup_container .invalid-results-table .match-th {
   background-color: #757575 !important;
   color: #fff !important;
}
#ictv_virus_name_lookup_container .invalid-results-table .even-bg {
   background-color: #eee;
}
#ictv_virus_name_lookup_container .invalid-results-table .odd-bg {
   background-color: #fff;
}*/
#ictv_virus_name_lookup_container .invalid-results-table .match-number {
   width: 80px;
}/*
#ictv_virus_name_lookup_container .invalid-results-table td {
   font-size: 1.0rem !important;
   vertical-align: top !important;
}*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Tooltips
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_virus_name_lookup_container .has-tooltip {
   border-bottom: 1px dashed black;
   cursor: pointer;
   display: inline-block;
   position: relative;
 }
 
#ictv_virus_name_lookup_container .has-tooltip .tooltip {
   background-color: #555;
   border-radius: 6px;
   color: #fff;
   left: 125%;
   opacity: 0;
   padding: 5px;
   position: absolute;
   text-align: center;
   top: -5px;
   visibility: hidden;
   width: 200px;
}

#ictv_virus_name_lookup_container .has-tooltip .tooltip::after {
   border-color: transparent #555 transparent transparent;
   border-style: solid;
   border-width: 5px;
   content: "";
   margin-top: 5px;
   position: absolute;
   right: 100%;
   top: 10%;
}
 
#ictv_virus_name_lookup_container .has-tooltip:hover .tooltip {
   opacity: 1;
   visibility: visible;
   z-index: 10000;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
    Overriding DataTables CSS
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* The "Show ___ entries" row above the table */
#ictv_virus_name_lookup_container .dt-container .dt-length {
   margin-bottom: 1.0rem;
}

#ictv_virus_name_lookup_container .dt-container .dt-length label {
   align-items: center;
   font-weight: normal;
   display: flex !important;
   flex-flow: row nowrap !important;
   justify-content: flex-start;
}

#ictv_virus_name_lookup_container .dt-container .dt-length select.dt-input {
   background-color: transparent;
   border: 1px solid #aaa;
   border-radius: 3px;
   font-size: 1.0rem;
   max-width: 6rem;
   margin: 0 0.25rem;
   min-width: 4rem;
   padding: 0 5px !important;
   text-align: left;
}

#ictv_virus_name_lookup_container .dt-container .dt-layout-row {
   font-size: 0.9rem;
}

#ictv_virus_name_lookup_container .dt-container .dt-paging {
   text-align: right;
}

/* Table TH and TD */
#ictv_virus_name_lookup_container table.results-table.compact thead th,
#ictv_virus_name_lookup_container table.results-table.compact thead td {
   padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

#ictv_virus_name_lookup_container table.results-table.compact thead th {
   text-align: left !important;
}