

/*
#ictv_curated_name_manager_container .lookup-container {
   align-items: flex-start;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   margin-bottom: 2.0rem;
}*/

/* Button styles */
#ictv_curated_name_manager_container .ictv-btn {
   border: 1px solid transparent;
   cursor: pointer;
   display: inline-block;
   font-size: 0.9rem;
   font-weight: 400;
   padding: .375rem .75rem;
   text-align: center;
   user-select: none;
   vertical-align: middle;
   white-space: nowrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#ictv_curated_name_manager_container .new-name-btn {
   background-color: #198754;
   color: #fff;
}

/* The results count */
#ictv_curated_name_manager_container .results-count {
   font-size: 1.8rem;
   margin-top: 2.0rem;
}

#ictv_curated_name_manager_container .results-panel {
   display: none;
   visibility: hidden;
}
#ictv_curated_name_manager_container .results-panel.active {
   display: block;
   visibility: visible;
}

/* The spinner panel */
#ictv_curated_name_manager_container .spinner-panel {
   display: none;
}
#ictv_curated_name_manager_container .spinner-panel.active {
   display: block;
}

/* The controls panel above the data table */
#ictv_curated_name_manager_container .controls-panel {
   margin-bottom: 1.0rem;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Data tables
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_curated_name_manager_container table.results-table {
   min-width: 800px;
   overflow: visible !important;
   width: 100%;
}
#ictv_curated_name_manager_container table.results-table .header-row {
   background-color: #757575 !important;
}
#ictv_curated_name_manager_container table.results-table th,
#ictv_curated_name_manager_container table.results-table td {
   font-size: 1.0rem !important;
}
#ictv_curated_name_manager_container table.results-table th {
   background-color: #757575 !important;
   color: #fff !important;
   font-weight: 400 !important;
}
#ictv_curated_name_manager_container table.results-table .even-bg {
   background-color: #eee;
}
#ictv_curated_name_manager_container table.results-table .odd-bg {
   background-color: #fff;
}
#ictv_curated_name_manager_container table.results-table thead + tbody tr:first-child th, 
#ictv_curated_name_manager_container table.results-table thead + tbody tr:first-child td {
   padding-top: 0.75rem;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The table view
-------------------------------------------------------------------------------------------------------------------------------------------------*/

#ictv_curated_name_manager_container table.results-table {
   table-layout: auto; /* Ensures column width adapts to content */
}

#ictv_curated_name_manager_container .edit-column {
   white-space: nowrap; /* Prevents the content from wrapping */
   width: 1%; /* Ensures the column shrinks to fit its content */
}
#ictv_curated_name_manager_container .edit-column .edit-button {
   background-color: #0062cc;
   border-color: #005cbf;
   border-radius: 0.25rem;
   color: #fff;
   cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The edit view
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* A row that contains a label and control. */
#ictv_curated_name_manager_container .control-row {
   align-items: flex-start;
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
   margin-bottom: 1.0rem;
}
#ictv_curated_name_manager_container .control-row label {
   font-weight: normal;
}

#ictv_curated_name_manager_container .control-row .comments-control,
#ictv_curated_name_manager_container .control-row .type-control {
   border-radius: 2px !important;
}

#ictv_curated_name_manager_container .control-row .comments-control,
#ictv_curated_name_manager_container .control-row .name-control,
#ictv_curated_name_manager_container button.save-button,
#ictv_curated_name_manager_container .control-row .type-control {
   max-width: 500px;
   width: 500px;
}

/* The ICTV name control is a little more complicated than other control rows. */
#ictv_curated_name_manager_container .ictv-name-control {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   width: 500px;
}

#ictv_curated_name_manager_container .ictv-name-control .ictv-name {
   margin-right: 1.0rem;
}

#ictv_curated_name_manager_container .ictv-name-control .cancel-taxon-button {
   display: none;
   visibility: hidden;
}
#ictv_curated_name_manager_container .ictv-name-control .cancel-taxon-button.active {
   background-color: #999;
   border-radius: 0.25rem;
   color: #fff;
   cursor: pointer;
   display: block;
   visibility: visible;
}
#ictv_curated_name_manager_container .ictv-name-control .select-taxon-button {
   display: none;
   visibility: hidden;
}
#ictv_curated_name_manager_container .ictv-name-control .select-taxon-button.active {
   background-color: #0062cc;
   border-color: #005cbf;
   border-radius: 0.25rem;
   color: #fff;
   display: block;
   cursor: pointer;
   visibility: visible;
}

/* The container of the taxonomy search panel. */
#ictv_curated_name_manager_container .ictv-taxonomy-panel {
   display: none;
   visibility: hidden;
}
#ictv_curated_name_manager_container .ictv-taxonomy-panel.active {
   display: block;
   visibility: visible;
}

#ictv_curated_name_manager_container button.save-button {
   background-color: #198754;
   border-radius: 0.25rem;
   color: #fff;
   cursor: pointer;
   margin-top: 2.0rem;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The search panel and controls
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_curated_name_manager_container .search-panel .search-controls {
   align-content: flex-start;
   border-collapse: separate;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   line-height: 1.5;
   margin: 0;
   max-width: 600px;
}

#ictv_curated_name_manager_container .search-panel .search-controls .search-text {
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px 0 0 4px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   font-size: 14px;
   line-height: 1.3;
   margin: 0;
   padding: 6px 12px;
   vertical-align: middle;
   width: 345px;
}

#ictv_curated_name_manager_container .search-panel .search-controls .search-text:focus {
   color: #495057;
   background-color: #fff;
   border-color: #80bdff;
   outline: 0;
   box-shadow: 0 0 0 1px rgba(0, 123, 255, .15);
}

#ictv_curated_name_manager_container .search-panel .search-controls .search-ctrl {
   background-color: #0062cc;
   border-color: #005cbf;
   border-radius: 0;
   color: #fff;
   cursor: pointer;
}

#ictv_curated_name_manager_container .search-panel .search-controls .clear-search-ctrl {
   background-color: #999;
   border-radius: 0 .25rem .25rem 0;
   color: #fff;
   cursor: pointer;
}

#ictv_curated_name_manager_container .search-controls .search-status {
   height: 100%;
   vertical-align: middle;
}

#ictv_curated_name_manager_container .all-releases-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin: 0.5rem 0 0 0;
}

#ictv_curated_name_manager_container .search-panel .all-releases-row input[type='checkbox'].all-releases-ctrl {
   height: 1.0rem;
   margin-right: 0.25rem;
   width: 1.0rem;
}

#ictv_curated_name_manager_container .all-releases-row label {
   font-size: 11pt;
   font-weight: normal;
   margin-bottom: 0 !important;
}


/* Search results */
#ictv_curated_name_manager_container .search-panel .search-results {
   margin: 15px 0 15px 0;
}

#ictv_curated_name_manager_container .search-results-table {
   margin: 15px 0 0 0;
}

#ictv_curated_name_manager_container .search-results-table tr.header-row {
   background-color: #757575 !important;
}

#ictv_curated_name_manager_container .search-results-table tr.header-row th {
   background-color: #757575 !important;
   border-left-width: 0 !important;
   border-right-width: 0 !important;
   color: #fff !important;
   font-size: 0.9rem !important;
   text-align: left !important;
}

#ictv_curated_name_manager_container .search-results-table .result-alt-row {
   background-color: #fff;
}

#ictv_curated_name_manager_container .search-results-table .result-row {
   background-color: #eee;
}

#ictv_curated_name_manager_container .search-results-table tr:hover[data-id] {
   background-color: #ffc90e;
   cursor: pointer;
}

#ictv_curated_name_manager_container .search-results-table .controls {
   width: fit-content;
}

#ictv_curated_name_manager_container .search-results-table .view-ctrl-column {
   max-width: 70px;
}

#ictv_curated_name_manager_container .search-results-table .view-search-result-ctrl {
   border: 1px solid transparent;
   cursor: pointer;
   display: inline-block;
   font-size: 0.75rem;
   font-weight: 400;
   line-height: 1.5;
   padding: 2px 10px;
   text-align: center;
   user-select: none;
   vertical-align: middle;
   white-space: nowrap;
   /*width: 64px;*/
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#ictv_curated_name_manager_container .search-results-table td {
   font-size: 0.9rem;
}

#ictv_curated_name_manager_container .search-results-table .release-name {
   text-align: left;
   width: 70px;
}

#ictv_curated_name_manager_container .search-results-table .level-name {
   text-align: left;
   text-transform: capitalize;
   width: 56px;
}

#ictv_curated_name_manager_container .search-term-result {
   background-color: #ffc90e;
}

/* "No results" from the search panel */
#ictv_curated_name_manager_container div:where(.swal2-container) .swal2-html-container .no-results-list {
   list-style-position: outside;
   text-align: left !important;
}

#ictv_curated_name_manager_container div:where(.swal2-container) .swal2-html-container .no-results-list li {
   margin-bottom: 0.9rem;
   text-align: left;
}

#ictv_curated_name_manager_container div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
   background-color: #28a745 !important;
}