

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Sequence Search
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* General purpose button styles */
#ictv_seqsearch_container button i {
   margin-right: 0.25rem;
}

#ictv_seqsearch_container button.download-button {
   background-color: #0d6efd;
   color: #fff;
   cursor: pointer;
   min-width: 100px;
}

#ictv_seqsearch_container button.close-button {
   background-color: #eee;
   color: #000;
   cursor: pointer;
   min-width: 100px;
}

#ictv_seqsearch_container button.close-button i {
   color: #000;
}


/* User row and upload panel */
#ictv_seqsearch_container .user-row {
   margin-bottom: 1.0rem;
}

#ictv_seqsearch_container .upload-panel {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin-bottom: 1.0rem;
}

/* The upload panel's file selection section. */
#ictv_seqsearch_container .upload-panel .file-selection {
   display: none;
   visibility: hidden;
}
#ictv_seqsearch_container .upload-panel .file-selection.active {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   visibility: visible;
}
#ictv_seqsearch_container .upload-panel .file-selection .upload-message {
   font-size: 1.3rem;
   margin-right: 0.5rem;
}
#ictv_seqsearch_container .upload-panel .file-selection .file-control {
   background-color: #0d6efd;
   color: #fff;
   margin-right: 1.0rem;
}
#ictv_seqsearch_container #file_input {
   opacity: 0;
   position: absolute;
   left: -1000px;
}

/* The upload panel's file submission section. */
#ictv_seqsearch_container .upload-panel .file-submission {
   display: none;
   visibility: hidden;
}
#ictv_seqsearch_container .upload-panel .file-submission.active {
   align-items: center;
   border-collapse: separate;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   line-height: 1.5;
   margin: 0;
   /*max-width: 600px;*/
   visibility: visible;
}
#ictv_seqsearch_container .upload-panel .file-submission .job-name-label {
   font-weight: 700;
   margin-right: 0.5rem;
}
#ictv_seqsearch_container .upload-panel .file-submission .job-name {
   background-color: #fff;
   /*background-image: none;*/
   border: 1px solid #ccc;
   border-radius: 0; /*4px 0 0 4px;*/
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   height: max-content;
   line-height: 1.0rem;
   margin: 0;
   padding: 5px 12px;
   vertical-align: middle;
   width: 300px;
}
#ictv_seqsearch_container .upload-panel .file-submission .job-name::placeholder {
   font-size: 1.0rem;
   opacity: 0.75;
}
#ictv_seqsearch_container .upload-panel .file-submission .job-name:focus {
   background-color: #fff;
   border-color: #80bdff;
   box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.15);
   color: #495057;
   outline: 0;
}
#ictv_seqsearch_container .upload-panel .file-submission button.upload-button {
   background-color: #198754;
   border-radius: 0;
   color: #fff;
}
#ictv_seqsearch_container .upload-panel .file-submission button.cancel-button {
   background-color: #999;
   border-radius: 0 5px 5px 0;
   color: #fff;
   min-width: 90px;
}



/* The status dialog */
#ictv_seqsearch_container .modal-background {
   align-items: center;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0.4);
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0%;
   background-position-y: 0%;
   background-size: auto;
   bottom: 0px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   left: 0px;
   line-height: 24px;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 10px;
   position: fixed;
   right: 0px;
   text-align: center;
   top: 0px;
   transition-delay: 0s;
   transition-duration: 0.1s;
   transition-property: background-color;
   transition-timing-function: ease;
   z-index: 1060;
}

#ictv_seqsearch_container .modal-dialog {
   background-color: rgb(255, 255, 255);
   background-size: auto;
   border-color: rgb(84, 84, 84);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   box-sizing: border-box;
   display: flex;
   flex-flow: column nowrap;
   height: auto;
   max-width: 100%;
   padding: 20px;
   pointer-events: all !important;
   width: 700px;
}

#ictv_seqsearch_container .modal-title {
   font-size: 1.5rem;
   margin: 0 0 1.0rem;
}

#ictv_seqsearch_container .modal-body {
   font-size: 1.0rem;
   text-align: left;
}

#ictv_seqsearch_container .modal-contact {
   font-size: 1.0rem;
   margin-top: 1.0rem;
}

#ictv_seqsearch_container .modal-instructions {
   font-size: 1.0rem;
   margin: 1.0rem 0;
}

#ictv_seqsearch_container .modal-controls {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
}

#ictv_seqsearch_container .modal-button-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
}

#ictv_seqsearch_container .modal-button-row .close-button {
   background-color: #eee;
   border-color: #999;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: #000;
   cursor: pointer;
   font-size: 0.9rem;
   min-width: 100px;
}


/* Job details */
#ictv_seqsearch_container .results .results-title {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 3.0rem 0 0.75rem 0;
}

#ictv_seqsearch_container .job-table {
   margin-bottom: 1.0rem;
}
#ictv_seqsearch_container .job-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
}
#ictv_seqsearch_container .job-row label {
   font-size: 1.0rem;
   font-weight: 700;
   margin-right: 0.25rem;
}
/*#ictv_seqsearch_container .job-row .job-value {

}*/

#ictv_seqsearch_container .results .job-details .link-panel {
   display: flex;
   flex-flow: column nowrap;
   font-size: 1.0rem;
   justify-content: flex-start;
   margin-bottom: 2.0rem;
}
#ictv_seqsearch_container .results .job-details .link-panel .controls {
   text-align: left;
}

#ictv_seqsearch_container .results button.copy-url-button {
   background-color: #198754;
   color: #fff;
   cursor: pointer;
   margin-left: 0.5rem;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Sequence results
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_seqsearch_container .sequence-result {
   background-color: rgba(50, 50, 50, 0.03);
   border-color: #bbb;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin-bottom: 1.0rem;
   padding: 1.0rem;
   width: 100%;
}

#ictv_seqsearch_container .sequence-result .info {
   align-items: flex-start;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   width: 100%;
}
#ictv_seqsearch_container .sequence-result .info .result-index {
   font-size: 0.9rem; 
   margin-right: 1.0rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result {
   align-items: flex-start;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .lineage {
   font-size: 0.9rem;
   font-weight: 400;
   margin-bottom: 0.25rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .lineage i.fa-chevron-right {
   font-size: 0.7rem;
   margin: 0 0.25rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result {
   align-items: flex-start;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   z-index: 1000;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result .result-name {
   font-size: 1.2rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result .result-name .rank-name {
   font-weight: 700;
   text-transform: capitalize;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result .result-name .taxon-name {
   font-style: italic;
   margin-left: 0.25rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result .result-info {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   font-size: 0.9rem;
   justify-content: flex-start;
   margin-top: 0.25rem;
}
#ictv_seqsearch_container .sequence-result .info .lineage-and-result .result .result-info label {
   font-weight: 700;
}

#ictv_seqsearch_container .sequence-result .controls {
   align-items: flex-start;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
}

#ictv_seqsearch_container .sequence-result .controls .view-html-button,
#ictv_seqsearch_container .sequence-result .controls .download-csv-button {
   color: rgb(0, 104, 240);
   font-size: 1.0rem;
   margin-right: 0.25rem;
   text-decoration: none;
}
#ictv_seqsearch_container .sequence-result .controls .view-html-button:hover,
#ictv_seqsearch_container .sequence-result .controls .download-csv-button:hover {
   cursor: pointer;
   text-decoration: underline;
}
#ictv_seqsearch_container .sequence-result .controls .view-html-button i,
#ictv_seqsearch_container .sequence-result .controls .download-csv-button i {
   color: #777;
   cursor: pointer;
   text-decoration: none;
}