

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Sequence classifier
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* General purpose button styles */
#ictv_sequence_classifier_container.ictv-custom button i {
   margin-right: 0.25rem;
}

#ictv_sequence_classifier_container.ictv-custom button.download-button {
   background-color: #0d6efd;
   color: #fff;
   cursor: pointer;
   min-width: 100px;
}

#ictv_sequence_classifier_container.ictv-custom button.close-button {
   background-color: #eee;
   color: #000;
   cursor: pointer;
   min-width: 100px;
}

#ictv_sequence_classifier_container.ictv-custom button.close-button i {
   color: #000;
}

/* User row and upload panel */
#ictv_sequence_classifier_container.ictv-custom .user-row {
   margin-bottom: 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin-bottom: 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom .file-control {
   background-color: #0d6efd;
   color: #fff;
   margin-right: 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom #file_input {
   opacity: 0;
   position: absolute;
   left: -1000px;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel .job-name-label {
   margin-right: 0.5rem;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel .job-name {
   margin-right: 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel button.validate-button {
   background-color: #198754;
   color: #fff;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel .hidden {
   visibility: hidden;
}

#ictv_sequence_classifier_container.ictv-custom .upload-panel .visible {
   visibility: visible;
}


/* The jobs panel */
#ictv_sequence_classifier_container.ictv-custom .jobs {
   font-size: 1.0rem;
   margin-top: 3.0rem;
   width: 95vw;
}

#ictv_sequence_classifier_container.ictv-custom .jobs-title {
   font-size: 1.7rem;
}

#ictv_sequence_classifier_container.ictv-custom .jobs-help {
   margin-bottom: 1.0rem;
}

/* Overriding tables.css (whatever that might be) */
#ictv_sequence_classifier_container.ictv-custom table thead+tbody tr:first-child th,
#ictv_sequence_classifier_container.ictv-custom table thead+tbody tr:first-child td {
   border-bottom-left-radius: 0 !important;
   /* Testing 111623*/
   padding-top: 8px !important;
}

/* All tables in the sequence classifier container */
#ictv_sequence_classifier_container.ictv-custom table {
   border-collapse: separate;
}

#ictv_sequence_classifier_container.ictv-custom table th,
#ictv_sequence_classifier_container.ictv-custom table td {
   border-bottom-left-radius: 0 !important;
   border-style: solid;
   border-bottom-color: rgb(164, 185, 195);
   border-width: 0 0 1px 0;
   box-sizing: border-box;
   font-weight: normal;
   text-align: left;
}

#ictv_sequence_classifier_container.ictv-custom table td {
   border-style: solid;
   border-width: 1px;
}

/* The jobs table */
#ictv_sequence_classifier_container.ictv-custom table.jobs-table tr.hidden {
   display: none;
}

#ictv_sequence_classifier_container.ictv-custom table.jobs-table td.child-control-column i {
   color: #999;
}

/* The jobs table header row */
#ictv_sequence_classifier_container.ictv-custom table.jobs-table th {
   font-size: 0.9rem;
}

#ictv_sequence_classifier_container.ictv-custom table.jobs-table th.upload-col {
   width: 160px;
}

#ictv_sequence_classifier_container.ictv-custom table.jobs-table th.download-column {
   width: 100px;
}

#ictv_sequence_classifier_container.ictv-custom table.jobs-table tr.header-row {
   background-color: #757575 !important;
}

#ictv_sequence_classifier_container.ictv-custom table.jobs-table tr.header-row th {
   background-color: #757575 !important;
   border-left-width: 0 !important;
   border-right-width: 0 !important;
   color: #fff !important;
   font-size: 0.9rem !important;
   padding-left: 0.5rem;
   text-align: left !important;
}

/* The jobs data rows */
#ictv_sequence_classifier_container.ictv-custom .odd-bg {
   background-color: #fff;
}

#ictv_sequence_classifier_container.ictv-custom .even-bg {
   background-color: #eee;
}

/* The job files container and table */
#ictv_sequence_classifier_container.ictv-custom .job-files-container .column-0 {
   border-right-color: rgba(0, 0, 0, 0);
}

#ictv_sequence_classifier_container.ictv-custom .job-files-container .column-1 {
   border-left-color: rgba(0, 0, 0, 0);
   padding: 1rem 1rem 1rem 0;
}

#ictv_sequence_classifier_container.ictv-custom table.job-files-table {
   margin-bottom: unset !important;
   width: 100%;
}

/* The job files header row */
#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.crashed,
#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.invalid {
   background-color: #dc3545;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.crashed th,
#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.invalid th {
   color: #fff;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.pending {
   background-color: #ffc107;
   border-color: #ffc107;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.pending th {
   color: #212529;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.valid {
   background-color: #218838;
   border-color: #1e7e34;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row.valid th {
   color: #fff;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row th {
   border-left-width: 0 !important;
   border-right-width: 0 !important;
   font-size: 0.9rem !important;
   padding-left: 0.5rem;
   text-align: left !important;
}

#ictv_sequence_classifier_container.ictv-custom .job-files-header-row .small {
   width: 70px;
}

/* The status dialog */
#ictv_sequence_classifier_container.ictv-custom .modal-background {
   align-items: center;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0.4);
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0%;
   background-position-y: 0%;
   background-size: auto;
   bottom: 0px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   left: 0px;
   line-height: 24px;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 10px;
   position: fixed;
   right: 0px;
   text-align: center;
   top: 0px;
   transition-delay: 0s;
   transition-duration: 0.1s;
   transition-property: background-color;
   transition-timing-function: ease;
   z-index: 1060;
}

#ictv_sequence_classifier_container.ictv-custom .modal-dialog {
   background-color: rgb(255, 255, 255);
   background-size: auto;
   border-color: rgb(84, 84, 84);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   box-sizing: border-box;
   display: flex;
   flex-flow: column nowrap;
   height: auto;
   max-width: 100%;
   padding: 20px;
   pointer-events: all !important;
   width: 700px;
}

#ictv_sequence_classifier_container.ictv-custom .modal-title {
   font-size: 1.5rem;
   margin: 0 0 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom .modal-body {
   font-size: 1.0rem;
   text-align: left;
}

#ictv_sequence_classifier_container.ictv-custom .modal-contact {
   font-size: 1.0rem;
   margin-top: 1.0rem;
}

#ictv_sequence_classifier_container.ictv-custom .modal-instructions {
   font-size: 1.0rem;
   margin: 1.0rem 0;
}

#ictv_sequence_classifier_container.ictv-custom .modal-controls {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
}

#ictv_sequence_classifier_container.ictv-custom .modal-button-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
}

#ictv_sequence_classifier_container.ictv-custom .modal-button-row .close-button {
   background-color: #eee;
   border-color: #999;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: #000;
   cursor: pointer;
   font-size: 0.9rem;
   min-width: 100px;
}