
/* CSS variables */
:root {
   /* Borders */
   --ictv-border-color: #aaa;
   --ictv-border-focus-color: #80bdff;
   --ictv-border-radius: 5px;

   --ictv-button-active-bg: #bddaff;
   --ictv-button-active-border-color: #4aa3df;
   --ictv-button-bg: #efefef;
   --ictv-default-bg: #f3f3f3;
   --ictv-disabled-color: #999;
   --ictv-icon-color: #999;
   --ictv-info-icon-color: #155daa;

   /* Links */
   --ictv-link-color: #0066cc;
   --ictv-link-color-alt: #cfefff;
   --ictv-link-hover-color: #004999;

   /* The panel that tells the user to save the URL to return and view the data. */
   --ictv-link-panel-background: #f0f7ff;
   
   /* Tags */
   --ictv-tag-bg-color: #f0f7ff;
   --ictv-tag-border-color: #d9ebff;

   /* Colors */
   --ictv-lightest-grey-color: #f7f7f7;
   --ictv-lightest-grey-color-alt: #e5e5e5;
   --ictv-light-grey-color: #888;
   --ictv-grey-color: #777;
   --ictv-dark-grey-color: #555;

   /* Status colors */
   --ictv-danger-color: #dc3545;
   --ictv-primary-color: #007bff;
   --ictv-secondary-color: #6c757d;
   --ictv-success-color: #198754;
   --ictv-warning-color: #ffc107;

   /* Tables */
   --ictv-active-header-bg: #4aa3df;
   --ictv-header-bg: #777;
   --ictv-table-row-bg-even: #fefefe;
   --ictv-table-row-bg-odd: #f3f3f3;
   --ictv-table-row-bg-even-alt: #fff;
   --ictv-table-row-bg-odd-alt: #eaf7ff;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   TaxaBLAST
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* All elements with tooltips will display a pointer when hovered over. */
#ictv_taxablast_container .has-tooltip {
   cursor: pointer;
}

/* General purpose button styles */
#ictv_taxablast_container button {
   background-color: var(--ictv-button-bg); 
   border-color: var(--ictv-border-color);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   font-size: 0.9rem;
   margin-right: 0.5rem;
   padding: .2rem .5rem;
   text-align: center;
   transition: transform 120ms ease; /* From ChatGPT 061826 */
}
#ictv_taxablast_container button i {
   color: var(--ictv-icon-color);
   font-weight: normal;
   margin-right: 0.25rem;
   pointer-events: none;
}
#ictv_taxablast_container button:active {
   background-color: var(--ictv-primary-color);
   border-color: var(--ictv-button-active-border-color);
   box-shadow: 0 1px 2px rgba(0,0,255,.15);
   color: var(--ictv-button-active-border-color);
   transform: translateY(1px);
}
#ictv_taxablast_container button:active i {
   color: var(--ictv-button-active-border-color);
}
#ictv_taxablast_container button:hover {
   background-color: var(--ictv-button-active-bg);
   border-color: var(--ictv-button-active-border-color);
}
#ictv_taxablast_container button:hover i {
   font-weight: normal;
   margin-right: 0.25rem;
   pointer-events: none;
}

#ictv_taxablast_container i.info-icon {
   background-color: #fff;
   border-radius: 15px;
   color: var(--ictv-icon-color);
   cursor: pointer;
   font-size: 0.8rem;
   text-align: center;
   vertical-align: middle;
}

/* Icons in the FASTA dialog's message section */
#fasta_dialog .fasta-message i.success {
   color: var(--ictv-success-color) !important;
}
#fasta_dialog .fasta-message i.error {
   color: var(--ictv-danger-color) !important;
}

#ictv_taxablast_container input,
#ictv_taxablast_container textarea,
#ictv_taxablast_container select {
   background-color: #fff;
   border: 1px solid var(--ictv-border-color);
   border-radius: 0;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   height: max-content;
   line-height: 1.0rem;
   margin: 0 0 0 0.25rem;
   padding: 0.25rem 0.25rem;
   vertical-align: middle;
}
#ictv_taxablast_container input:focus,
#ictv_taxablast_container textarea:focus,
#ictv_taxablast_container select:focus  {
   background-color: #fff;
   border-color: var(--ictv-border-focus-color);
   box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.15);
   color: #495057;
   outline: 0;
}
#ictv_taxablast_container input[type="radio"] {
   height: 1.1rem;
   padding: 0;
   margin: 0;
   width: 1.1rem;
}

#ictv_taxablast_container .error-link-button {
   background: none;
   border: none;
   color: var(--ictv-danger-color);
   cursor: pointer;
   font: inherit;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#ictv_taxablast_container .link-button {
   background: none;
   border: none;
   color: var(--ictv-link-color);
   cursor: pointer;
   font: inherit;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#ictv_taxablast_container .link-button:hover {
  color: var(--ictv-link-hover-color);
  text-decoration: underline;
}
#ictv_taxablast_container .link-button:focus-visible {
  outline: 2px solid var(--ictv-link-color);
  outline-offset: 2px;
}


/* Containers */
#ictv_taxablast_container .container {
   display: none;
   visibility: hidden;
}
#ictv_taxablast_container .container.active {
   display: block;
   margin-left: 0;
   margin-bottom: 3.0rem;
   padding: 0;
   visibility: visible;
   width: 100%;
}

/* Common styles for panels */
#ictv_taxablast_container .no-results {
   color: var(--ictv-danger-color);
   font-size: 1.2rem;
   margin-bottom: 0.5rem;
}

/* Tables */
#ictv_taxablast_container table .even-row {
   background-color: var(--ictv-table-row-bg-even);
}
#ictv_taxablast_container table .odd-row {
   background-color: var(--ictv-table-row-bg-odd);
}

/* Button styles */
/*#ictv_taxablast_container button.btn-generic:not(:last-child) {
   background-color: var(--ictv-button-bg);
   border-color: var(--ictv-border-color);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   cursor: pointer;
   margin-right: 0.5rem;
   padding: .2rem .5rem;
   text-align: center;
}*/
/*
#ictv_taxablast_container button.btn-generic:hover {
   color: var(--ictv-button-active-border-color);
   background-color: var(--ictv-button-active-bg);
   border-color: var(--ictv-button-active-border-color);
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
#ictv_taxablast_container button.btn-generic:hover i {
   color: var(--ictv-button-active-border-color);
   transition: color 0.2s;
}*/
/*
#ictv_taxablast_container button.btn-generic i {
   color: var(--ictv-icon-color);
   margin-right: 0.25rem;
}*/

#ictv_taxablast_container button.new-search-button {
   margin-right: 0 !important;
}
#ictv_taxablast_container button.new-search-button,
#ictv_taxablast_container button.next-button {
   background-color: var(--ictv-success-color);
   border-color: var(--ictv-success-color);
   color: #fff;
   cursor: pointer;
}
#ictv_taxablast_container button.new-search-button i,
#ictv_taxablast_container button.next-button i {
   color: #fff;
}

#ictv_taxablast_container input::placeholder,
#ictv_taxablast_container textarea::placeholder {
   color: var(--ictv-light-grey-color);
   font-size: 0.9rem;
   font-style: italic;
   opacity: 0.75;
}


/* The navigation panel */
#ictv_taxablast_container .controls-row {
   font-size: 1.0rem;
   margin-bottom: 1.5rem;
   /*text-align: right;*/
}
#ictv_taxablast_container .controls-row i {
   color: var(--ictv-icon-color);
   margin-right: 0.25rem;
}

/* The spinner panel */
#ictv_taxablast_container .spinner-panel {
   display: none;
}
#ictv_taxablast_container .spinner-panel.active {
   display: block;
}
#ictv_taxablast_container .error-title {
   color: var(--ictv-danger-color);
   font-size: 1.2rem;
}

#ictv_taxablast_container .panel-title {
   font-size: 1.3rem;
   font-weight: 700;
   margin: 0;
   width: 100%;
}

/* An error message */
#ictv_taxablast_container .error-message .message {
   color: var(--ictv-danger-color);
   display: block;
   font-size: 1.0rem;
   margin-bottom: 1.0rem;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The accordion component
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container .ictv-accordion-item {
   border-color: rgba(0, 0, 0, 0.3);
   border-radius: var(--ictv-border-radius);
   border-style: solid;
   border-width: 1px;
   margin-bottom: 0.75rem;
   width: 100%;
}
/*#ictv_taxablast_container .ictv-accordion-item.active {
   margin: 1.0rem 0;
}*/

/* The accordion header */
#ictv_taxablast_container .ictv-accordion-header {
   align-items: center;
   background-color: var(--ictv-default-bg);
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   transition: all 0.25s ease-out;
   width: 100%;
   will-change: background-color color;
}
#ictv_taxablast_container .ictv-accordion-header:hover {
   cursor: pointer;
}
#ictv_taxablast_container .ictv-accordion-item:not(.active) .ictv-accordion-header {
   border-radius: var(--ictv-border-radius);
}
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-header {
   border-radius: var(--ictv-border-radius) var(--ictv-border-radius) 0 0;
}

/* Accordion header for the BLAST hits accordion. */
#ictv_taxablast_container .ictv-accordion-item .ictv-accordion-header.blast-hits-header,
#ictv_taxablast_container .ictv-accordion-item.isolate .ictv-accordion-header.blast-hits-header {
   background-color: var(--ictv-table-row-bg-odd);
   color: #000;
   padding: 0.5rem 0.5rem 0.5rem 0;
}
#ictv_taxablast_container .ictv-accordion-item.alt-isolate .ictv-accordion-header.blast-hits-header {
   background-color: var(--ictv-table-row-bg-even);
}

/* An active version of the BLAST hits header */
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-header.blast-hits-header {
   background-color: var(--ictv-active-header-bg);
   color: #fff;
}
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-header.blast-hits-header a {
   color: var(--ictv-link-color-alt);
}
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-header.blast-hits-header .lineage-chevron i {
   color: #eee;
}


/* The accordion label */
#ictv_taxablast_container .ictv-accordion-label {
   align-items: flex-start;
   display: flex;
   flex-flow: row nowrap;
   font-size: 1.0rem;
   justify-content: flex-start;
   width: 100%;
}
#ictv_taxablast_container .ictv-accordion-label .filename {
   margin-right: 0.25rem;
}
#ictv_taxablast_container .ictv-accordion-label .sequence-count {
   margin-right: 0.25rem;
}

#ictv_taxablast_container .ictv-accordion-control {
   font-weight: 400;
   min-width: 2.5rem;
   text-align: center;
   transition: ease .3s transform;
   width: 2.5rem;
}
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-control {
   transform: rotate(-180deg);
}
#ictv_taxablast_container .ictv-accordion-control i {
   color: var(--ictv-grey-color);
   font-size: 1.0rem;
   pointer-events: none;
}

/* The accordion body */
#ictv_taxablast_container .ictv-accordion-body {
   background-color: #f7f7f7;
   border-radius: 0 0 var(--ictv-border-radius) var(--ictv-border-radius);
   max-height: 0;
   opacity: 0;
   overflow: visible;
   transition: all 0.25s ease-out;
   visibility: hidden;
   will-change: max-height;
}
#ictv_taxablast_container .ictv-accordion-item.active .ictv-accordion-body {
   border-width: 1px 0 0 0;
   border-color: rgba(0, 0, 0, 0.3);
   border-style: solid;
   max-height: fit-content;
   opacity: 1;
   visibility: visible;
}

#ictv_taxablast_container .ictv-accordion-item .ictv-accordion-content {
   background-color: #f3f3f3;
   border-width: 0;
   border-style: none;
   margin: 0;
   padding: 0.5rem;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The BLAST hits panel (container)
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container .blast-hits-panel {
   min-width: 900px;
   /* overflow-x: auto; */
}
#ictv_taxablast_container .blast-hits-panel > * {
  flex: 0 0 auto;      /* Don’t grow and don’t shrink below intrinsic width */
  min-width: 0;        /* Let items actually shrink if needed (a flexbox "gotcha") */
}

#ictv_taxablast_container .blast-hits-panel .error-message {
   color: var(--ictv-danger-color);
   font-size: 1.0rem;
   margin-bottom: 0.5rem;
}

#ictv_taxablast_container .blast-hits-panel .blast-hits-title-row {
   align-items: flex-end;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin: 3.0rem 0 0.5rem 0;
   width: 100%;
}

#ictv_taxablast_container .blast-hits-panel .blast-hits-title {
   align-items: flex-start;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   min-width: fit-content;
}
#ictv_taxablast_container .blast-hits-panel .blast-hits-title .label {
   font-size: 1.35rem;
}
#ictv_taxablast_container .blast-hits-panel .blast-hits-title .result-count {
   font-size: 1.0rem;
   margin-top: -0.5rem;
}


#ictv_taxablast_container .blast-hits-panel .blast-hits-title-row .blast-hits-controls {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   width: 100%;
}

#ictv_taxablast_container .blast-hits-panel button.download-csv-button {
   margin-right: 0 !important;
}

/* BLAST hit tiles */
#ictv_taxablast_container .blast-hits .blast-species-tile {
   background-color: #e9e9e9;
   border-color: rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   box-shadow: 0 1px 2px rgba(0,0,0,.06);
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   margin-bottom: 0.5rem;
   padding: 1.0rem;
   width: 100%;
}

/* Species accordion controls in the BLAST hits panel */
#ictv_taxablast_container .blast-hits .ictv-accordion-item.active .ictv-accordion-control i {
   color: var(--ictv-lightest-grey-color);
}

#ictv_taxablast_container .blast-hits .ictv-accordion-item .ictv-accordion-content {
   padding: 0.5rem 1.0rem 1.0rem 1.0rem;
}
#ictv_taxablast_container .blast-hits .species-accordion-label {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   width: 100%;
}
#ictv_taxablast_container .blast-hits .species-accordion-label .left-side {
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
}
#ictv_taxablast_container .blast-hits .species-rank-and-name {
   align-items: baseline;
   display: flex;
   flex-flow: row nowrap;
   font-size: 1.2rem;
   justify-content: flex-start;
   width: 100%;
}
#ictv_taxablast_container .blast-hits .species-rank-and-name .species-rank {
   margin-right: 0.25rem;
}
#ictv_taxablast_container .blast-hits .species-rank-and-name .species-name {
   font-style: italic;
   white-space: nowrap;
}
#ictv_taxablast_container .blast-hits .species-rank-and-name .species-name a {
   color: var(--ictv-primary-color);
   text-decoration: underline;
} 
#ictv_taxablast_container .blast-hits .species-rank-and-name .segment-name {
   font-size: 1.0rem;
   font-weight: normal;
   margin-left: 0.25rem;
}

/* The right side of the species title that contains the highest bitscore. */
#ictv_taxablast_container .blast-hits .species-accordion-label .right-side {
   display: flex;
   flex-flow: column;
   justify-content: center;
   margin-right: 0.5rem;
}
#ictv_taxablast_container .blast-hits .species-accordion-label .right-side .bitscore-label {
   font-size: 0.9rem;
}
#ictv_taxablast_container .blast-hits .species-accordion-label .right-side .bitscore {
   font-size: 1.5rem;
   margin-top: -0.5rem;
   padding: 0;
   text-align: right;
}

#ictv_taxablast_container .blast-hits .species-lineage {
   display: block;
   font-size: 0.9rem;
   width: 100%;
}
#ictv_taxablast_container .blast-hits .species-lineage .lineage-chevron {
   font-size: 0.6rem;
   font-weight: normal;
   margin: 0.25rem 0.25rem;
}
#ictv_taxablast_container .blast-hits .ictv-accordion-item .species-lineage .lineage-chevron i {
   color: #333;
}
#ictv_taxablast_container .blast-hits .species-lineage .lineage-name {
   cursor: pointer;
   color: #555;
   font-size: 0.8rem;
   font-style: italic;
}
#ictv_taxablast_container .blast-hits .ictv-accordion-item.active .species-lineage .lineage-name {
   color: var(--ictv-lightest-grey-color);
}

/* An isolate group in a species tile. */
#ictv_taxablast_container .isolate-group {
   font-size: 1.0rem !important;
   /*margin: 0.75rem 1.0rem 1.0rem 1.0rem;*/
}
#ictv_taxablast_container .ictv-accordion-item.active .isolate-group:not(:first-of-type) {
   margin-top: 1.5rem;
}
#ictv_taxablast_container .isolate-group a {
   color: var(--ictv-link-color);
   text-decoration: underline;
}
#ictv_taxablast_container .isolate-group .hit-names {
   font-size: 1.2rem;
   margin-bottom: 0;
}
#ictv_taxablast_container .isolate-group .hit-names .hit-label {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container .isolate-group .hit-names .virus-name {
   font-weight: normal;
}
#ictv_taxablast_container .isolate-group .hit-names .virus-name::first-letter,
#ictv_taxablast_container .isolate-group .hit-names .virus-name a::first-letter {
   text-transform: uppercase;
}
#ictv_taxablast_container .isolate-group .hit-names .isolate-label {
   margin-left: 0.25rem;
}
#ictv_taxablast_container .isolate-group .hit-names .e-or-a {
   font-size: 1.0rem;
}

#ictv_taxablast_container .isolate-group .hit-other-names {
   font-size: 1.0rem;
   margin-bottom: 0.25rem;
}
#ictv_taxablast_container .isolate-group .accession-label {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container .isolate-group .accession {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container .isolate-group .abbrev-label {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container .isolate-group .abbrev {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container .isolate-group .name-delimiter {
   margin-right: 0.5rem;
   text-align: left;
}

/* Style the DataTable's "entries per page" select list and label. */
#ictv_taxablast_container .isolate-group .dt-container .dt-layout-row {
   margin-bottom: 0.25rem;
	vertical-align: middle;
}
/* Some separation between the entries-per-page select list and the label */
#ictv_taxablast_container .isolate-group .dt-container .dt-layout-row .dt-layout-start select.dt-input {
	margin-right: 0.25rem;
}

/* A BLAST hit's HSPs */
#ictv_taxablast_container .isolate-group .hsp-title {
   margin-top: 0.5rem;
}
#ictv_taxablast_container .isolate-group table.hsp-table * {
   font-size: 0.9rem;
   /*vertical-align: top;*/
}
#ictv_taxablast_container .isolate-group table.hsp-table {
   table-layout: fixed;  /* Suggested by Duck.ai */
   width: 100%;
}
#ictv_taxablast_container .isolate-group table.hsp-table tr.header-row {
   background-color: var(--ictv-header-bg);
}
/* The default row background in an HSP table. Note that we are overriding the default even-row class
to provide more contrast in the HSP table. */
#ictv_taxablast_container .isolate-group table.hsp-table tr.even-row {
   background-color: var(--ictv-table-row-bg-even-alt);
}
#ictv_taxablast_container .isolate-group table.hsp-table tr.odd-row {
   background-color: var(--ictv-table-row-bg-odd-alt);
}

#ictv_taxablast_container .isolate-group table.hsp-table th, 
#ictv_taxablast_container .isolate-group table.hsp-table td { 
   box-sizing: border-box; 
   overflow: hidden; 
   text-overflow: ellipsis; 
   white-space: nowrap; 
}

#ictv_taxablast_container .isolate-group table.hsp-table th {
   color: #fff;
   font-size: 0.9rem;
   font-weight: normal;
   padding: 2px 0;
   text-align: center;
}
#ictv_taxablast_container .isolate-group table.hsp-table td {
   padding: 3px 6px;
   text-align: center;
}

/* HSP table columns */
/* TESTING
#ictv_taxablast_container .isolate-group table.hsp-table th.hit-index,
#ictv_taxablast_container .isolate-group table.hsp-table td.hit-index {
   max-width: 30px !important;
   text-align: right;
   width: 30px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table th.bitscore {
	width: 100px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table td.bitscore {
   text-align: right;
}

#ictv_taxablast_container .isolate-group .hsp-table th.length {
   width: 80px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table td.length {
   text-align: right;
   width: 80px !important;
}

#ictv_taxablast_container .isolate-group .hsp-table th.pident {
   width: 80px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table td.pident {
   text-align: right;
   width: 80px !important;
}

#ictv_taxablast_container .isolate-group .hsp-table th.protein-id,
#ictv_taxablast_container .isolate-group .hsp-table td.protein-id {
	width: 160px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table th.product,
#ictv_taxablast_container .isolate-group .hsp-table td.product {
	width: 260px !important;
}
#ictv_taxablast_container .isolate-group .hsp-table th.ppos,
#ictv_taxablast_container .isolate-group .hsp-table td.ppos {
	width: 80px !important;
}*/
/*#ictv_taxablast_container .isolate-group .hsp-table td.note {
	width: auto;
}*/
/*#ictv_taxablast_container .isolate-group .hsp-table .alignment {
   text-align: center;
}

#ictv_taxablast_container .isolate-group .hsp-table .start-or-end {
   text-align: center;
   width: 100px;
}*/


/* Panel views */
#ictv_taxablast_container .panel-view {
   display: none;
   visibility: hidden;
}
#ictv_taxablast_container .panel-view.active {
   display: block;
   visibility: visible;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The job details table
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* The container for the job details table when it's not in an accordion control. */
#ictv_taxablast_container .job-details-wrapper {
   background-color: var(--ictv-default-bg); /*#efefef;*/
   border-color: rgba(0, 0, 0, 0.3);
   border-radius: var(--ictv-border-radius);
   border-style: solid;
   border-width: 1px;
   margin-bottom: 1.5rem;
   padding: 0.5rem;
   width: 100%;
}

/* The container for the query details table (not in an accordion control). */
#ictv_taxablast_container .query-details-wrapper {
   background-color: var(--ictv-default-bg); /*#efefef;*/
   border-color: rgba(0, 0, 0, 0.3);
   border-radius: var(--ictv-border-radius);
   border-style: solid;
   border-width: 1px;
   margin-bottom: 1.0rem;
   padding: 0.5rem;
   width: 100%;
}
#ictv_taxablast_container .query-details-wrapper .details-table th {
   width: 200px;
}

#ictv_taxablast_container table.details-table {
   border-color: transparent;
   border-style: none;
   border-width: 0;
   margin: 0;
   width: 100%;
}
/*
#ictv_taxablast_container table.details-table tbody tr {
   border-color: #ddd;
   border-style: solid;
   border-width: 0 0 1px 0;
}*/

/*#ictv_taxablast_container table.details-table tr:last-child {
   border-bottom: 1px solid transparent;
}*/

#ictv_taxablast_container table.details-table th {
   background-color: inherit;
   border-color: #ddd;
   border-width: 0 0 1px 0;
   color: var(--ictv-dark-grey-color);
   font-size: 1.0rem;
   padding: 0.5rem;
   vertical-align: top;
   white-space: nowrap;
   width: 200px;
}
#ictv_taxablast_container table.details-table td {
   border-color: #ddd;
   border-width: 0 0 1px 0;
   font-size: 1.0rem;
   padding: 0.5rem;
}
#ictv_taxablast_container table.details-table tbody tr:last-of-type th,
#ictv_taxablast_container table.details-table tbody tr:last-of-type td {
   border-bottom: 1px solid transparent;
}

/* The rows showing the BLAST parameters */
#ictv_taxablast_container table.details-table .blast-parameters {
   padding: 0.25rem 0 0 0.5rem !important;
}
#ictv_taxablast_container table.details-table .blast-parameter-row {
   align-items: flex-start;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   padding: 0.25rem 0 !important;
}
#ictv_taxablast_container table.details-table .blast-parameter-row:not(:first-child) {
   border-color: #ddd;
   border-style: solid;
   border-width: 1px 0 0 0 !important;
}
#ictv_taxablast_container table.details-table .blast-parameter-row label {
   font-weight: 700;
   width: 130px;
}
#ictv_taxablast_container table.details-table .blast-parameter-row .blast-value {
   font-weight: normal; /* placeholder */
}
#ictv_taxablast_container table.details-table .blast-parameter-row .blast-command {
   font-family: monospace;
   font-size: 0.9rem;
   max-width: 600px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The link panel
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container .link-panel {
   align-items: center;
   background-color: var(--ictv-link-panel-background);
   border-color: var(--ictv-primary-color);
   border-style: solid;
   border-width: 0 0 0 5px;
   display: flex;
   flex-flow: row;
   font-size: 1.0rem;
   justify-content: flex-start;
   margin: 1.0rem 0 1.5rem 0;
   padding: 0.5rem;
   width: fit-content;
}
#ictv_taxablast_container .link-panel .labelled-link {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
}
#ictv_taxablast_container .link-panel label {
   font-weight: normal;
   margin-right: 0.25rem;
}
#ictv_taxablast_container .link-panel .after-label {
   display: inline-block;
   visibility: visible;
}
#ictv_taxablast_container .link-panel .labelled-link a {
   color: var(--ictv-link-color);
}
#ictv_taxablast_container .link-panel .controls {
   margin-left: 0.5rem;
}
#ictv_taxablast_container .link-panel i {
   color: var(--ictv-icon-color);
   margin-right: 0.25rem;
}
#ictv_taxablast_container .link-panel .copy-url-button {
   /* TODO: Might look better to fit the button's color to its container 
   background-color: transparent;
   border-color: var(--ictv-border-focus-color);
   border-style: solid;
   border-width: 1px;*/
   margin-right: 0 !important;
}
/*
#ictv_taxablast_container .link-panel .copy-url-button:hover {
   background-color: #bddaff;
   border-color: var(--ictv-active-header-bg);
   color: black;
}
#ictv_taxablast_container .link-panel .copy-url-button:hover i {
   color: var(--ictv-border-focus-color);
}*/



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Job history: search controls
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container .search-controls {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   max-width: 1000px;
}
#ictv_taxablast_container .search-controls > * {
   font-size: 0.9rem;
   height: 40px; 
   border: 1px solid #ccc;
   border-radius: 0; /* Remove default border radius */
   margin: 0;
   box-sizing: border-box; /* Include border in height calculation */
}

/* Remove borders between adjacent elements to avoid double borders */
#ictv_taxablast_container .search-controls > *:not(:first-child) {
  border-left: none;
}

/* Last button - right border radius only */
#ictv_taxablast_container .search-controls > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#ictv_taxablast_container .search-controls .search-text {
   background-color: #fff;
   background-image: none;
   border-color: var(--ictv-light-grey-color);
   padding-left: 0.75rem;
   width: 345px;
}
#ictv_taxablast_container .search-controls .search-text:focus {
   color: #495057;
   background-color: #fff;
   border-color: var(--ictv-border-focus-color);
   outline: 0;
   box-shadow: 0 0 0 1px rgba(0, 123, 255, .15);
}

#ictv_taxablast_container .search-controls .search-button {
   background-color: var(--ictv-primary-color);
   border-color: #005cbf; /* TODO: use variable */
   color: #fff;
   cursor: pointer;
}
#ictv_taxablast_container .search-controls .search-button i {
   color: #fff;
   margin-right: 0.25rem;
}

#ictv_taxablast_container .search-controls .clear-button {
   background-color: #999;
   border-color: #999;
   color: #fff;
   cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Job history
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container .jobs-panel {
   margin: 2.0rem 0 2.0rem 0;
}
#ictv_taxablast_container table.jobs {
   width: 100%;
}
#ictv_taxablast_container table.jobs tr.header-row {
   background-color: var(--ictv-header-bg);
}
#ictv_taxablast_container table.jobs tr.header-row th {
   color: #fff;
   font-weight: normal;
}
/*#ictv_taxablast_container table.jobs tr.even {
   background-color: var(--ictv-table-row-bg-even);
}
#ictv_taxablast_container table.jobs tr.odd {
   background-color: var(--ictv-table-row-bg-odd);
}*/
#ictv_taxablast_container table.jobs th,
#ictv_taxablast_container table.jobs td {
   padding: 3px 6px;
}
#ictv_taxablast_container table.jobs td.name {
   width: 160px;
}
#ictv_taxablast_container table.jobs td.created-on {
   width: 80px;
}
#ictv_taxablast_container table.jobs td.status {
   width: 60px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The job results table
-------------------------------------------------------------------------------------------------------------------------------------------------*/
#ictv_taxablast_container table.job-results {
   background-color: #fff;
   border-radius: var(--ictv-border-radius);
   border-width: 0; /* 0 0 1px 0; */
   margin: 0;
   /*min-width: 800px;*/
   /*overflow: visible !important;
   table-layout: fixed !important;*/
   width: 100%;
}
#ictv_taxablast_container table.job-results .header-row {
   background-color: var(--ictv-header-bg) !important;
}
#ictv_taxablast_container table.job-results th,
#ictv_taxablast_container table.job-results td {
   font-size: 0.9rem !important;
}
#ictv_taxablast_container table.job-results th {
   color: #fff !important;
   font-weight: 400 !important;
}
#ictv_taxablast_container table.job-results .no-hits-row {
   color: var(--ictv-danger-color);
}

#ictv_taxablast_container table.job-results thead + tbody tr:first-child th, 
#ictv_taxablast_container table.job-results thead + tbody tr:first-child td {
   padding-top: 0.75rem;
}
#ictv_taxablast_container table.job-results tbody tr:last-child {
   border-radius: 0 0 var(--ictv-border-radius) var(--ictv-border-radius);
}
#ictv_taxablast_container table.job-results tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--ictv-border-radius);
}
#ictv_taxablast_container table.job-results tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--ictv-border-radius);
}

/* The table headers */
#ictv_taxablast_container table.job-results th.query-index {
   max-width: 30px;
   width: 30px;
}
#ictv_taxablast_container table.job-results td.query-index {
   text-align: right;
}

#ictv_taxablast_container table.job-results .filename {
   font-weight: normal; /* placeholder */
}

#ictv_taxablast_container table.job-results .query-id {
   font-weight: normal; /* placeholder */
}

#ictv_taxablast_container table.job-results th.hits {
   text-align: center;
   width: 60px;
}
#ictv_taxablast_container table.job-results td.hits {
   text-align: center;
}

#ictv_taxablast_container table.job-results .controls {
   white-space: nowrap;
   width: 1%;
}

#ictv_taxablast_container table.job-results th, 
#ictv_taxablast_container table.job-results td {
   padding: 0.5rem;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   The job submission panel
-------------------------------------------------------------------------------------------------------------------------------------------------*/

#ictv_taxablast_container .job-submission-panel {
   font-size: 1.0rem;
}

#ictv_taxablast_container .job-submission-panel .input-section {
   align-items: baseline;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin-bottom: 1.5rem;
}

#ictv_taxablast_container .job-submission-panel .input-section .controls-title {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   font-size: 1.0rem;
   justify-content: flex-start;
   margin-bottom: 0.25rem;
   width: 100%;
}

#ictv_taxablast_container .job-submission-panel .input-section .number-column {
   width: 1.0rem;
}
#ictv_taxablast_container .job-submission-panel .input-section .content-column {
   flex-grow: 1;
   flex-shrink: 1;
}

/* The BLAST parameter rows */
#ictv_taxablast_container .job-submission-panel .max-target-seqs-row,
#ictv_taxablast_container .job-submission-panel .max-hsps-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
}
#ictv_taxablast_container .job-submission-panel .max-target-seqs-row {
   margin: 1.0rem 0 0 0;
}
#ictv_taxablast_container .job-submission-panel .max-hsps-row {
   margin-top: 1.0rem;
}
#ictv_taxablast_container .job-submission-panel .max-target-seqs-row label,
#ictv_taxablast_container .job-submission-panel .max-hsps-row label {
   font-weight: 700;
   text-align: left;
   width: 240px;
}

/* The max HSPs and max target seqs input controls */
#ictv_taxablast_container .job-submission-panel .max-hsps,
#ictv_taxablast_container .job-submission-panel .max-target-seqs { 
   padding: 0;
   text-align: right;
   width: 5.0rem;
}
#ictv_taxablast_container .job-submission-panel .max-target-seqs-comment {
   display: none;
   visibility: hidden;
}
#ictv_taxablast_container .job-submission-panel .max-target-seqs-comment:not(:empty) {
   color: var(--ictv-dark-grey-color);
   display: block;
   font-size: 0.9rem;
   visibility: visible;
}
#ictv_taxablast_container .job-submission-panel input[type=number]::-webkit-outer-spin-button,
#ictv_taxablast_container .job-submission-panel input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance:caret; /* TESTING! */
  /*margin: 0;*/
}

/*#ictv_taxablast_container .job-submission-panel .control-row .horizontal-control {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   width: 30%;
}*/

/* "Select files" button */
#ictv_taxablast_container .job-submission-panel .select-files-button {
   margin-left: 0.5rem;
   padding: 0.25rem 0.5rem;
}
/*#ictv_taxablast_container .job-submission-panel .select-files-button:hover {
   background-color: var(--ictv-button-active-bg);
   border-color: var(--ictv-button-active-border-color);
   color: var(--ictv-button-active-border-color);
}
#ictv_taxablast_container .job-submission-panel .select-files-button:hover i {
   color: var(--ictv-button-active-border-color);
}
#ictv_taxablast_container .job-submission-panel .select-files-button.active {
   background-color: var(--ictv-primary-color);
   color: #fff;
}
#ictv_taxablast_container .job-submission-panel .select-files-button.active i {
   color: #fff;
}*/

/* "Enter FASTA" button */
#ictv_taxablast_container .job-submission-panel .enter-fasta-button {
   padding: 0.25rem 0.5rem;
}/*
#ictv_taxablast_container .job-submission-panel .enter-fasta-button:hover {
   background-color: var(--ictv-primary-color);
   color: #fff;
}
#ictv_taxablast_container .job-submission-panel .enter-fasta-button:hover i {
   color: #fff;
}*/
/*#ictv_taxablast_container .job-submission-panel .enter-fasta-button.active {
   background-color: var(--ictv-primary-color);
   color: #fff;
}
#ictv_taxablast_container .job-submission-panel .enter-fasta-button.active i {
   color: #fff;
}*/

#ictv_taxablast_container #file_input {
   opacity: 0;
   position: absolute;
   left: -1000px;
}
#ictv_taxablast_container .selected-files-section {
   display: none;
   visibility: hidden;
}
#ictv_taxablast_container .selected-files-section.active {
   display: block;
   visibility: visible;
}

/* The selected files title */
#ictv_taxablast_container .selected-files-section .title-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin: 0.5rem 0; /* TEST */
   width: 100%;
}
#ictv_taxablast_container .selected-files-section .title .title-text {
   font-weight: 700;
}
/* The "select all" / "deselect all" button */
/*#ictv_taxablast_container .selected-files-section .title .toggle-button:hover {
   background-color: var(--ictv-primary-color);
   color: #fff;
}
#ictv_taxablast_container .selected-files-section .title .toggle-button:hover i {
   color: #fff;
}*/

/* The "remove selected files" button */
#ictv_taxablast_container .selected-files-section .title .remove-files-button:not(:disabled),
#ictv_taxablast_container .selected-files-section .title .remove-files-button:not(:disabled) i {
   background-color: var(--ictv-danger-color);
   color: #fff;
}
#ictv_taxablast_container .selected-files-section .title .remove-files-button:disabled,
#ictv_taxablast_container .selected-files-section .title .remove-files-button:disabled i {
   color: var(--ictv-disabled-color);
}


#ictv_taxablast_container .selected-files-section .contents {
   margin: 0 0 0.5rem 0; /* TEST */
}

/* The selected files table */
#ictv_taxablast_container .job-submission-panel table.selected-files {
   margin-bottom: 0;
   width: 100%;
}
#ictv_taxablast_container .job-submission-panel table.selected-files td {
   font-size: 0.9rem;
   padding: 0.5rem;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row {
   background-color: var(--ictv-header-bg);
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th {
   color: #fff;
   font-size: 0.9rem;
   font-weight: normal;
   padding: 0.5rem;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th.select {
   width: 40px;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th.filename {
   max-width: 500px;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th.status {
   max-width: 160px;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th.size {
   max-width: 200px;
}
#ictv_taxablast_container .job-submission-panel table.selected-files .header-row th.sequences {
   max-width: 130px;
}

#ictv_taxablast_container .job-submission-panel table.selected-files .selected-file.odd {
   background-color: var(--ictv-table-row-bg-alt);
}

#ictv_taxablast_container .job-submission-panel table.selected-files .selected-file td.filename.error {
   color: var(--ictv-danger-color);
}


/* The FASTA textarea control and message */
#ictv_taxablast_container textarea.fasta-control {
   font-family: monospace;
   font-size: 0.9rem !important;
   margin-top: 0.5rem;
}
#ictv_taxablast_container .fasta-control-message {
   color: default;
   font-size: 0.9rem;
}
#ictv_taxablast_container .fasta-control-message[data-status="invalid"] {
   color: var(--ictv-danger-color);
}
#ictv_taxablast_container .fasta-control-message[data-status="valid"] {
   color: var(--ictv-success-color);
}

/* The BLAST tasks table */
#ictv_taxablast_container .job-submission-panel table.blast-tasks {
   margin: 0.5rem 0 1.0rem 0;
   width: 100%;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks td {
   font-size: 0.9rem;
   padding: 0.5rem;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row {
   background-color: var(--ictv-header-bg);
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row th {
   color: #fff;
   font-size: 0.9rem;
   font-weight: normal;
   padding: 0.5rem;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row th.control-column {
   margin: 0;
   padding: 0;
   width: 24px;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row th.task-column {
   width: 400px;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row th.description-column {
   width: 600px;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks .header-row th.input-column {
   width: 120px;
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks tr {
   font-size: 1.0rem;
}
/*
#ictv_taxablast_container .job-submission-panel table.blast-tasks tr.even-row {
   background-color: var(--ictv-table-row-bg-even);
}
#ictv_taxablast_container .job-submission-panel table.blast-tasks tr.odd-row {
   background-color: var(--ictv-table-row-bg-odd);
}*/



/* The warning for iOS devices */
#ictv_taxablast_container .ios-warning:not(:empty) {
   align-items: flex-start;
   background-color: rgba(255, 0, 0, 0.05);
   border-color: rgba(255, 0, 0, 0.15);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin-top: 1.0rem;
   max-width: 700px;
   padding: 1.0rem; 
}
#ictv_taxablast_container .ios-warning i.warning {
   color: var(--ictv-danger-color);
   font-size: 1.3rem;
   margin: 0.25rem 0.75rem 0 0;
}
#ictv_taxablast_container .ios-warning .filename {
   font-style: italic;

}



/* TODO: how is this different from the standard input box style above? */
#ictv_taxablast_container .job-submission-panel .job-name {
   /*background-color: #fff;
   border: 1px solid #ccc;*/
   border-radius: 0;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   color: #555;
   height: max-content;
   line-height: 1.0rem;
   margin: 0 0 0 0.25rem;
   padding: 0.25rem 0.25rem;
   vertical-align: middle;
   width: 300px;
}

#ictv_taxablast_container .job-submission-panel .job-name:focus {
   background-color: #fff;
   border-color: #80bdff;
   box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.15);
   color: #495057;
   outline: 0;
}

/* The "Run TaxaBLAST" button */
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button {
   color: var(--ictv-disabled-color);
   /*width: 60px;*/
}
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button i {
   color: var(--ictv-disabled-color);
}
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button:hover,
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button:active {
   background-color: var(--ictv-button-bg);
   border-color: var(--ictv-border-color);
   color: var(--ictv-disabled-color);
}
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button:hover i,
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button:active i {
   color: var(--ictv-disabled-color);
}
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button.active {
   background-color: var(--ictv-success-color);
   border-color: var(--ictv-success-color);
   color: #fff;
}
#ictv_taxablast_container .job-submission-panel button.run-taxablast-button.active i {
   color: #fff;
}


/* The message displayed when a job is pending. */
#ictv_taxablast_container .pending-message .pending-job-name {
   font-size: 1.2rem;
   font-weight: 700;
   margin-bottom: 0.5rem;
}
#ictv_taxablast_container .pending-message .processing-message {
   font-size: 1.0rem;
   margin: 0 0 0.5rem 0;
}
#ictv_taxablast_container .pending-message .pending-elapsed-panel {
   display: flex;
   flex-flow: row nowrap;
   font-size: 0.9rem;
}
#ictv_taxablast_container .pending-message .pending-elapsed-panel label {
   font-weight: 700;
   margin-right: 0.25rem;
}
#ictv_taxablast_container .pending-message .pending-elapsed-panel .pending-elapsed {
   margin-right: 0; /* placeholder */
}
#ictv_taxablast_container .pending-message .lower-controls {
   margin-top: 0; /* placeholder */
}
#ictv_taxablast_container .pending-message .new-search-button {
   margin-top: 1.0rem;
   text-align: left;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Modal dialog for "Enter FASTA text"
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* The dialog background */
#ictv_taxablast_container .ictv-modal-dialog {
   background-color: rgba(0,0,0,0.4);
   display: none; /* Hidden by default */
   height: 100%; /* Full height */
   left: 0;
   overflow: auto; /* Enable scroll if needed */
   pointer-events: auto;
   position: fixed; /* Stay in place */
   top: 0;
   width: 100%; /* Full width */
}
#ictv_taxablast_container .ictv-modal-content {
   background-color: #efefef;
   border-color: #999;
   border-radius: var(--ictv-border-radius);
   border-style: solid;
   border-width: 1px;
   height: fit-content;
   margin: 15% auto; /* 15% from the top and centered */
   width: 700px;
   z-index: 200;
}
#ictv_taxablast_container .ictv-modal-header {
   align-items: center;
   background-color: var(--ictv-dark-grey-color);
   border-radius: var(--ictv-border-radius) var(--ictv-border-radius) 0 0;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   padding: 0.5rem;
   width: 100%;
}
#ictv_taxablast_container .ictv-modal-title {
   color: #fff;
   font-size: 1.2rem;
}
#ictv_taxablast_container .ictv-modal-body {
   padding: 0.5rem 1.0rem 1.0rem 1.0rem;
}

#ictv_taxablast_container .ictv-modal-body .dialog-row {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   margin: 0 0 0.5rem 0;
   width: 100%;
}
#ictv_taxablast_container .ictv-modal-body .dialog-row label {
   font-weight: normal;
}
#ictv_taxablast_container .ictv-modal-body .dialog-row input.fasta-filename {
   width: 260px;
}
#ictv_taxablast_container .ictv-modal-body .dialog-row .fasta-filename-message {
   display: none;
   margin-left: 0.5rem;
   visibility: hidden;
}
#ictv_taxablast_container .ictv-modal-body .dialog-row .fasta-filename-message.active {
   display: inline-block;
   visibility: visible;
}
#ictv_taxablast_container .ictv-modal-body .dialog-row .fasta-filename-message.active i {
   color: var(--ictv-danger-color);
}
#ictv_taxablast_container .ictv-modal-body .dialog-row textarea {
   font-family: monospace;
   font-size: 0.9rem;
   width: 100%;
}

/* Icons in the FASTA dialog's message section */
#ictv_taxablast_container .ictv-modal-body .fasta-message i.success {
   color: var(--ictv-success-color) !important;
}
#ictv_taxablast_container .ictv-modal-body .fasta-message i.error {
   color: var(--ictv-danger-color) !important;
}


#ictv_taxablast_container .ictv-modal-footer {
   align-items: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   padding: 0 0.5rem 0.5rem 0.5rem;
}
#ictv_taxablast_container .ictv-modal-footer .btn {
   cursor: pointer; 
   font-size: 1.0rem;
   min-width: 160px;
   padding: .2rem .5rem;
   text-align: center;
}
#ictv_taxablast_container .ictv-modal-footer .btn i {
   margin-right: 0.25rem;
}

#ictv_taxablast_container .ictv-modal-footer .dialog-save-button {
   margin-right: 0.5rem;
}
#ictv_taxablast_container .ictv-modal-footer .dialog-save-button:hover {
   background-color: var(--ictv-success-color);
   color: #fff;
}
#ictv_taxablast_container .ictv-modal-footer .dialog-save-button:hover i {
   color: #fff;
}
#ictv_taxablast_container .ictv-modal-footer .dialog-close-button {
   border-color: var(--ictv-light-grey-color);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
}
#ictv_taxablast_container .ictv-modal-footer .dialog-close-button:hover {
   background-color: var(--ictv-warning-color);
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
    Overriding DataTables CSS
-------------------------------------------------------------------------------------------------------------------------------------------------*/
/* The "Showing x of y entries" text */
#ictv_taxablast_container .dt-info {
   font-size: 0.9rem;
   margin-bottom: 0.25rem;
}

/* The "Show ___ entries" row above the table */
#ictv_taxablast_container .dt-length {
   display: flex;
   flex-flow: row nowrap;
   margin-bottom: 0.5rem;
}
#ictv_taxablast_container .dt-length label {
   align-items: center;
   font-weight: normal;
   display: flex !important;
   flex-flow: row nowrap !important;
   justify-content: flex-start;
}
#ictv_taxablast_container .dt-length select.dt-input {
   border: 1px solid var(--ictv-border-color);
   border-radius: 5px;
   display: inline-block;
   font-size: 0.8rem;
   padding: 3px !important;
   margin: 0 0.25rem;
   text-align: left;
   width: 60px;
}
#ictv_taxablast_container .dt-paging .dt-paging-button {
   border-color: var(--ictv-border-color);
   border-style: solid;
   border-radius: 0;
   border-width: 1px;
   margin-right: 0.25rem;
}
#ictv_taxablast_container .dt-type-numeric {
   padding: 3px 6px;
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------
   Sweet Alert 2 modal dialogs
-------------------------------------------------------------------------------------------------------------------------------------------------*/

/* dmd testing 050426 */
.swal2-html-container .alert-builder-icon-info {
   text-align: left !important;
}

.swal2-html-container .alert-builder-icon-info li {
   margin-bottom: 0.25rem;
}

.swal2-actions {
   margin-top: 0 !important;
}

.swal2-actions button.swal2-confirm {
   background-color: var(--ictv-button-bg); 
   border-color: var(--ictv-border-color);
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: #000;
   font-size: 0.9rem;
   min-width: 160px;
   padding: .2rem .5rem;
   text-align: center;
}

/* HTML content with a title and bullet points for swal2 modal-dialogs */
.swal2-html-container .alert-details {
   align-items: center;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   overflow-y: auto;
   width: 100%;
}
.swal2-html-container .alert-details .title {
   font-weight: 700;
   margin: 0.5rem 0 1.0rem 0;
}
.swal2-html-container .alert-details .bullets {
   text-align: left;
}
.swal2-html-container .alert-details .bullet {
   margin-bottom: 0.5rem;
   text-align: left;
}


/* Desktop (full screen) */
@media only screen and (min-width: 1000px) { /* Previously 1360px */
  
   #ictv_taxablast_container .blast-hits-panel .sequence-controls button .btn-label {
      display: inline;
      visibility: visible;
   }

   #ictv_taxablast_container .job-details-panel .sequences-table button .btn-label {
      display: inline;
      visibility: visible;
   }

   #ictv_taxablast_container .blast-hits .species-lineage .higher-ranks {
      display: inline-block;
      visibility: visible;
   }

   #ictv_taxablast_container .blast-hits .species-lineage .display-ranks-button {
      display: none;
      visibility: hidden;
   }

   #ictv_taxablast_container .link-panel .after-label {
      display: inline-block;
      visibility: visible;
   }
   #ictv_taxablast_container .link-panel .labelled-link a {
      display: inline-block;
      visibility: visible;
   }
}

/* Mobile */
@media only screen and (max-width: 999px) { /* Previously 1359px */
   
   #ictv_taxablast_container .blast-hits-panel .sequence-controls button i {
      margin-right: 0;
   }
   #ictv_taxablast_container .blast-hits-panel .sequence-controls button .btn-label {
      display: none;
      visibility: hidden;
   }
   #ictv_taxablast_container .job-details-panel .sequences-table button .btn-label {
      display: none;
      visibility: hidden;
   }

   #ictv_taxablast_container .job-details-panel .sequences-table .qseqid {
      width: 160px;
   }

   /* TEST */
   #ictv_taxablast_container .job-details-panel table.details-table .blast-parameter-row {
      flex-flow: column nowrap;
   }

   #ictv_taxablast_container .blast-hits .species-lineage .higher-ranks {
      display: none;
      visibility: hidden;
   }

   #ictv_taxablast_container .link-panel .after-label {
      display: none;
      visibility: hidden;
   }
   #ictv_taxablast_container .link-panel .labelled-link a {
      display: none;
      visibility: hidden;
   }

}



